@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply font-paragraph;
  }

  h1 {
    @apply text-2xl;
    @apply text-red;
    @apply font-title;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-secondary;
  }
  h3 {
    @apply text-lg;
    @apply font-secondary;
  }
}

@layer components {
  .btn-primary {
    @apply text-white text-2xl font-title bg-red hover:bg-darkred rounded-lg px-5 py-2.5 mb-2;
    @apply transition-colors duration-200;
  }
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}
